
<h1>Launch Academy FAQ</h1>


<div id="questions-div">

  <h2><u>Questions:</u></h2>
  <ol>
    <% @questions.each do |question| %>
    <p><%= link_to question.title, question %></p>
    <% end %>
  </ol>

  <div id="buttons">
  <button>
    <%= link_to 'Ask a Question', new_question_path %>
  </button>

</div>






</div>
